@model IEnumerable<BTAWebAPIClient.Models.MBlog>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center text-justify" style="text-align:center">Blogs</h2>
@foreach (var item in Model)
{
    <div class="container  col-md-6">
        <div class="text-center" style="color:black ; background-color:lightcyan; border-radius:10px">
            <div>
                <span style="font-size:large;font-family:'Comic Sans MS'"> @Html.DisplayFor(modelItem => item.Title)-By</span>
                <p>
                    <span style="font-size:medium;font-family:'Comic Sans MS'"> @Html.DisplayFor(modelItem => item.Email)</span>
                </p>
            </div>


            <h4>
                <span style="font-size:small;font-family:Candara">@Html.DisplayFor(modelItem => item.DateOfCreation)</span>
            </h4>
            <h4>
                <span style="font-size:medium ;font-family:'Comic Sans MS'"> @Html.DisplayFor(modelItem => item.Subject)</span>

            </h4>
            <div style="background-color: lavenderblush; color: white; border-radius: 10px">
                <h4>
                    <a style="border-radius:10px" href="@Html.DisplayFor(modelItem => item.BlogUrl)">
                        @item.BlogUrl
                </a>
            </h4>
        </div>
    </div>
</div>
}